@page "/port"
@inject HttpClient Http
@using Models
@using System.Net.Http
@using System.Xml.Serialization
@using System.IO
@using System.Collections.Generic


@if (port == null)
{
    <p><em>Brak danych...</em></p>
    <div>
       
    </div>
}
else
{   
    <h2>Statki wychodzące z portu Gdańsk Nowy Port</h2>

    <p class="fs-5">Data aktualizacji: <span class="fs-5 fw-bold">@port.Time</span></p>
    
    @foreach(ShipData ship in port.Ships)
    {   
        try
        {
            <Details Model = "@ship"></Details>

        }
        catch
        {
            
        }
    }
}

@code {
    PortData? port;

    protected override async Task OnInitializedAsync()
    {


        Stream response = await Http.GetStreamAsync("sample-data/ships.xml");
        StreamReader reader = new StreamReader(response);
        XmlSerializer serializer = new XmlSerializer(typeof(PortData));
        
        port = (PortData)serializer.Deserialize(reader);
       
        

    }
}
